* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Averta", "Arial", "sans-serif";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
}

@font-face {
  font-family: "Averta";
  src: url("./fonts/averta-demo-pe-cutted-demo-regular.ttf");
}
